MQTT_BROKER=192.168.1.8
MQTT_PORT=1883
MQTT_USER=backend
MQTT_PASSWORD=sua_senha
DEVICE_ID=esp32_01

ESP32_CAM_URL=http://192.168.1.14/capture

SUPABASE_URL=https://xxxxxxxxxxx.supabase.co
SUPABASE_KEY=sua_service_role_key