MQTT_USER=NAME_USER # Substitua NAME_USER pelo nome de usuário do MQTT
MQTT_PASSWORD=NAME_PASSWORD # Substitua NAME_PASSWORD pela senha do MQTT
MQTT_BROKER=localhost # Substitua localhost pelo endereço do broker MQTT, se necessário
MQTT_PORT=NAME_PORT # Substitua NAME_PORT pela porta do broker MQTT, se necessário (padrão é 1883)